
body {
  font-family: "Montserrat";
  text-align: center;
}
.changeClass{
  background-color: aqua;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}
#Gallery{
  background-color: #FF8911;
}
.gallery-img{
  height: 50rem;
}
p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #f0b864;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  color: white;
  font-size: 1.3rem;
  font-family: Ubuntu;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

#Registration{
  background-color: white
  ;
}

#title {
  background-color: #f0b864;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 400px;
  height: 300px;
  border-radius: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
  box-shadow: 5px 5px 10px black;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #FF8911;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #f0b864;
}

.featurette{
  display: flex;
  align-items: center;
  text-align: left;
  font-family: "Fredoka", sans-serif;
}
.featurette h2{
  font-family: "Fredoka", sans-serif;
}
.feature-img{
  border-radius: 10%;
  box-shadow: 1px 1px 3px;
}
.right{
  float: left;
}
.left{
  float: right;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  body{
    font-size: 2em;
  }
  .featurette{
    text-align:center;
  }
  .col-lg-5{
    display: flex;
    justify-content: center;
  }
  .text-body-secondary {
    font-size:20px !important;
  }
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
